<h1>Hello, {{.Name}}</h1>
<p>Bio: {{.Bio}}</p>
{{if .IsAdmin}}<p>You are an admin</p>{{else}}<p>You are a regular user</p>{{end}}

<script>
const user = {
	"name": {{.Name}},
	"bio": {{.Bio}},
	"age": {{.Age}}
};
console.log(user);
</script>
