{{define "page"}}
	<h1>FAQ page</h1>
	<ul>{{range .}}
		{{template "qa" .}}
	{{end}}</ul>
{{end}}

{{define "qa"}}
		<li>
			<p style="font-weight: bold;">{{.Question}}</p>
			{{.Anwser}}
		</li>
{{end}}
